<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đơn hàng</title>
  <!-- Thêm Bootstrap CSS từ CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/javascripts/date.js"></script>
  <script src="/javascripts/currency.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Trang Chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orderList">Đơn Hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/priceList">Bảng Giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/depositList">Cọc</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="">Thêm đơn hàng</h3>
        <form action="/addorderList" method="POST" class="text-center">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Người đặt" name="nguoi_dat" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Loại hàng" name="loai_hang" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Mặt hàng" name="loai_sp" required>
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" placeholder="Số lượng" name="so_luong" required>
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" placeholder="Giá tiền" name="gia" required>
          </div>
          <div class="mb-3">
            <input type="date" class="form-control" placeholder="Ngày mua" name="ngay" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Trang thái" name="tinh_trang" required>
          </div>
          <button type="submit" class="btn btn-success">Thêm</button>
        </form>
      </div>
      <div class="col-9">
        <h3 class="text-center">Danh sách đơn hàng</h3>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center text-white bg-primary">
              <!-- <th>ID</th> -->
              <th>Ngày mua</th>
              <th>Người đặt</th>
              <th>Loại hàng</th>
              <th>Mặt hàng</th>
              <th>Giá tiền</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
              <th>Trạng thái</th>
              <th>Tính năng</th>
            </tr>
          </thead>
          <tbody>
            <% donhang.forEach(function(item) { %>
              <tr class="text-center">
                <!-- <td>
                  <%= item.id %>
                </td> -->
                <td class="format-date ">
                  <%= item.ngay %>
                </td>
                <td>
                  <%= item.nguoi_dat %>
                </td>
                <td>
                  <%= item.loai_hang %>
                </td>
                <td>
                  <%= item.loai_sp %>
                </td>
                <td class="format-currency">
                  <%= item.gia %>
                </td>
                <td>
                  <%= item.so_luong %>
                </td>
                <td class="format-currency">
                  <%= item.thanh_tien %>
                </td>
                <td class="<%= item.tinh_trang === 'Đã nhận' ? 'bg-danger' : 'bg-warning' %> text-dark">
                  <%= item.tinh_trang %>
                </td>
                <td>
                  <button class="btn btn-primary">Sửa</button>
                  <button class="btn btn-danger">Xóa</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>

</html>
